fastapi
uvicorn
openai
torch
sentence-transformers 
python-dotenv
qdrant-client
llama-index  
llama-index-embeddings-openai
llama-index-vector-stores-qdrant
llama-index-readers-github 
llama-index-embeddings-huggingface
llama-index-embeddings-fastembed
llama-index-retrievers-bm25
llama-index-core
llama-index-vector-stores-qdrant 
llama-index-readers-file
llama-index-llms-openai
llama-index-llms-huggingface
ruff
streamlit
pytest
gunicorn==20.1.0
pytest
python-dotenv
numpy
pydantic
SQLAlchemy==1.4.49
psycopg2-binary==2.9.7